---
import BaseHead from '../components/BaseHead.astro';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import { SITE_TITLE, SITE_DESCRIPTION } from '../consts';
---

<html lang="es">
  <head>
    <BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
  </head>
  <body>
    <Header />
    <main>
      <section class="hero">
        <img
          src="/hero.png"
          alt="Hero Image"
          class="hero-image"
          style="display:none;"
        /></section>
      <h1 class="main-title">Bienvenido a FURED LATAM</h1>
      <section class="intro-text">
          <p>
            Somos una comunidad dedicada al Milsim (simulación militar) en Arma Reforger, compuesta por apasionados por el realismo táctico y la camaradería. Aquí, vivirás la emoción y el rigor de las operaciones militares en un entorno desafiante y colaborativo.
          </p>
          <p>
            Únete a nuestro servidor de Discord para más información y comienza tu camino en FURED LATAM.
          </p>          
          <a href="https://discord.gg/sWqM8vC6" class="discord-button">Únete a Nuestro Discord</a>
      </section>

      <section class="mission">
        <h2>Misión #FURED</h2>
          <p>
            A principios de milenio, América Latina enfrenta una nueva oleada de criminalidad en todas sus formas. En respuesta, los gobiernos miembros de la OEA firman un tratado de cooperación militar para financiar y formar una unidad militar conjunta, capaz de enfrentar y neutralizar cualquier amenaza a la paz en el continente.
          </p>
          <p>
            Así nace la Fuerza de Reacción y Despliegue FURED LATAM, una unidad letal compuesta por los mejores soldados de los países firmantes.
          </p>
          <p>Nuestra misión: estar entrenados y preparados para organizar y ejecutar operaciones contra organizaciones narcoterroristas y otras formas de criminalidad en toda América.</p>
          <p>¿Estas listo para hacer parte de la Fuerza mejor preparada en combate?</p>
        </p>
      </section>
        <div style="width: 100%; max-width: 1000px; margin: 2rem auto;">
            <iframe width="100%" height="auto" style="aspect-ratio: 16 / 9;" src="https://www.youtube.com/embed/Z9cMZAeA13A?si=umpd28vUgjLoWmVU" title="Reproductor de video de YouTube" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
        </div>
    </main>
    <Footer />
  </body>
  <style scoped>
    .hero {
        background-image: url("https://firebasestorage.googleapis.com/v0/b/furedlatam-50a6b.firebasestorage.app/o/reclut%20(1).png?alt=media&token=d20e7d32-4205-4f6b-bceb-0a90c65df3c7");
        background-size: contain;
        background-position: center;
        min-height: 400px;
        display: flex;
        align-items: center;
        position: relative;
        text-align: center;
        margin-bottom: 2rem;
    }
    .main-title {
        font-size: 2.5rem;
        margin-bottom: 1rem;
        text-align: left;
        padding: 0 1rem;
    }

     .intro-text {
        padding: 1rem;
        margin-bottom: 2rem;
    }
    .intro-text p {
        margin-bottom: 1rem;
    }
    .intro-text .discord-button {
        display: inline-block;
        background-color: #7289da;
        color: white;
        padding: 10px 20px;
        border-radius: 5px;
        text-decoration: none;
        transition: background-color 0.3s ease;
    }
    .intro-text .discord-button:hover {
        background-color: #5865f2;
    }
    .mission {
        text-align: left;
        padding: 1rem;
        margin-bottom: 2rem;
    }
    .mission h2 {
        margin-bottom: 1rem;
        font-size: 1.8rem;
    }
    .mission p {
        margin-bottom: 0.5rem;
    }
    .mission ul {
        list-style-type: disc;
        margin-left: 2rem;
    }

  </style>
</html>
